PORT=8000
MONGO_URI=mongodb+srv://samimali:samim123@cluster0.mug1d2d.mongodb.net

ACCESS_TOKEN_SECRET=AJKSDHFASJDHFJKAJKFDJAHGFJHIURHEFH
ACESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=VCNMFRUFTDJFHDJVBYDHFSGFUGVFJGHREGIJUH
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=dumut3nxi
CLOUDINARY_CLOUD_API=848199435632246
CLOUDINARY_CLOUD_SECRET=skjfgskjdghreuthgjkfghksfjgh
